<!doctype html>
<html>
<head>
<title> Job Recommendation System </title>
<link rel="stylesheet" href="stylesheet.css"/>
</head>

<body><center>
	<nav>
		<label class="logo">Home</label>
		<ul>
			<li><a class="active" href="home.html">Home</a></li>
			<li><a href="#">#</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">contact</a></li>
		</ul>
	</nav>

		<button class="homeButtons" onclick="location.href='aptitude.html'"><span>Aptitude Quiz</span></button>
		<button class="homeButtons" onclick="location.href='QUIZ1.html'"><span>Technical Quiz</span></button>
		<button class="homeButtons" onclick = "location.href='connect3.php'" ><span>Results</span></button>
		<button class="homeButtons" onclick="location.href='search.html'"><span >Search</span></button>
		
	</center>
</body>
</html>