<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="JRS.css"> 
	</head>
	<body>
        <form class="grid" action="/result" method="POST">
          <h3 class="let_space">Hello {{name}}, How was your day!!</h3>
          <label for="name">Enter you name:</label>
          <input type="text" id="name" name="name">
          <input class="file_submit" type="Submit">
        </form>
        <br>
        <br>
        <br>
    </body>
</html>