<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Job Recommendation System </title>
    <link rel="stylesheet" href="JRS.css">
    <script type="text/javascript" src="JRS.js"></script>
    
</head>

<body>

    <!-- <div id="start_button" class="start_button">
        <button onclick="startQuiz()">Start Quiz</button>
    </div> -->
    <!-- start Quiz button -->
    <!-- <div class="start_btn"><button>Start Quiz</button></div> -->

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title">Rules : </div>
        <div class="info-list">
            <div class="info">1. You will have only 15 seconds per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>

        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>

</body>
</html>