<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="JRS.css">
<script type="text/javascript" src="JRS.js"></script>


<div class="heading">Rate your Other Skills: </div>
<form action="connect2.php" method="post" class="page2" id="page2" >
    <div class="rows">
        <div class="column left">
            <p> &ensp;1-Good 2-Average 3-Not Good </p>
            <div class="p2l">Communication </div>
            <div class="p2l">Creativity </div>
            <div class="p2l">Critical Thinking</div>
            <div class="p2l">Problem solving</div>
            <div class="p2l">Applied Mathematics</div>
            <div class="p2l">Leadership</div>
            <div class="p2l">Project Management</div>
            <div class="p2l">Team Management</div>
            <div class="p2l">Multitasking </div>
            <div class="p2l">Startergy </div>
            <div class="p2l">Budgeting </div>
            <div class="p2l">Planning</div>
            <div class="p2l">Writing skills</div>
        </div>

        
        <div class="column right">
            <p> &ensp;1 &ensp;2 &ensp;3</p>
            <div class="stars">
                <input type="radio" id="Communication" name="Communication" value="3">
                <label for="Communication"> </label>
                <input type="radio" id="Communication" name="Communication" value="2">
                <label for="Communication"> </label>
                <input type="radio" id="Communication" name="Communication" value="1">
                <label for="Communication"> </label>
            </div>

            <div class="stars">
                <input type="radio" id="2op3" name="qsn2" value="3">
                <label for="three"></label>
                <input type="radio" id="2op2" name="qsn2" value="2">
                <label for="two"></label>
                <input type="radio" id="2op1" name="qsn2" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="3op3" name="qsn3" value="3">
                <label for="three"></label>
                <input type="radio" id="3op2" name="qsn3" value="2">
                <label for="two"></label>
                <input type="radio" id="3op1" name="qsn3" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="4op3" name="qsn4" value="3">
                <label for="three"></label>
                <input type="radio" id="4op2" name="qsn4" value="2">
                <label for="two"></label>
                <input type="radio" id="4op1" name="qsn4" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="5op3" name="qsn5" value="3">
                <label for="three"></label>
                <input type="radio" id="5op2" name="qsn5" value="2">
                <label for="two"></label>
                <input type="radio" id="5op1" name="qsn5" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="6op3" name="qsn6" value="3">
                <label for="three"></label>
                <input type="radio" id="6op2" name="qsn6" value="2">
                <label for="two"></label>
                <input type="radio" id="6op1" name="qsn6" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="7op3" name="qsn7" value="3">
                <label for="three"></label>
                <input type="radio" id="7op2" name="qsn7" value="2">
                <label for="two"></label>
                <input type="radio" id="7op1" name="qsn7" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="8op3" name="qsn8" value="3">
                <label for="three"></label>
                <input type="radio" id="8op2" name="qsn8" value="2">
                <label for="two"></label>
                <input type="radio" id="8op1" name="qsn8" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="9op3" name="qsn9" value="3">
                <label for="three"></label>
                <input type="radio" id="9op2" name="qsn9" value="2">
                <label for="two"></label>
                <input type="radio" id="9op1" name="qsn9" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="10op3" name="qsn10" value="3">
                <label for="three"></label>
                <input type="radio" id="10op2" name="qsn10" value="2">
                <label for="two"></label>
                <input type="radio" id="10op1" name="qsn10" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="11op3" name="qsn11" value="3">
                <label for="three"></label>
                <input type="radio" id="11op2" name="qsn11" value="2">
                <label for="two"></label>
                <input type="radio" id="11op1" name="qsn11" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="12op3" name="qsn12" value="3">
                <label for="three"></label>
                <input type="radio" id="12op2" name="qsn12" value="2">
                <label for="two"></label>
                <input type="radio" id="12op1" name="qsn12" value="1">
                <label for="one"></label>
            </div>

            <div class="stars">
                <input type="radio" id="13op3" name="qsn13" value="3">
                <label for="three"></label>
                <input type="radio" id="13op2" name="qsn13" value="2">
                <label for="two"></label>
                <input type="radio" id="13op1" name="qsn13" value="1">
                <label for="one"></label>
            </div>
        </div>
    </div>

    <div class="submit_btn_quiz" id="submit_btn_quiz">
        <button type="submit" name="submit_quiz2" form="page2" onclick="connectquiz2()">Submit</button>
    </div>
</form>


</body>
</html>