<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form </title>
  <link rel="stylesheet" href="login.css">
  <script src="Login.js">  </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Sign Up</header>
    <form action="SignUp.php" method="post" class="validation" id="validation" >
        
        <div class="field name">
          <div class="input-area">
            <input type="text" name="name" id ="name" placeholder="Name">
            <i class="icon fas fa-person"></i>
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Name can't be blank</div>
        </div>

        <div class="field phone">
          <div class="input-area">
            <input type="text" name="PhoneNo" id ="PhoneNo" placeholder="Phone Number">
            <i class="icon fas fa-phone"></i>
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Phone Number can't be blank</div>
        </div>

        <div class="field email">
          <div class="input-area">
            <input type="text" name="email" id ="email" placeholder="Email Address">
            <i class="icon fas fa-envelope"></i>
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Email can't be blank</div>
        </div>

        <div class="field password">
          <div class="input-area">
            <input type="password" name="password" id ="password" placeholder="Password">
            <i class="icon fas fa-lock"></i>
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Password can't be blank</div>
        </div>
      <div class="pass-txt"><a href="#">Forgot password?</a></div>

      <input type="submit" value="Sign Up" >
    </form>
  </div>

</body>
</html>